.nft-resume {
    background: $black;
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    border-radius: 4px;
    padding: 35px 30px 200px 30px;
    display: flex;
    position: relative;
    z-index: 1;
    &::before{
        background: $gradient-blackout;
        opacity: 0.5;
        content: "";
        z-index: 2;
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
    }
    &-img{
        width: 100%;
        &-box{
            position: relative;
            z-index: 3;
            width: 100%;
            max-width: 450px;
            .nav-buttons-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        }
    }
    .nav-buttons-box{
        @include media-xs{
            flex-direction: column;
            :first-child{
                margin-bottom: 10px;
            }
        }
    }
    @include media-md{
        flex-direction: column;
        align-items: center;
    }
}

.info-nft-box{
    padding-left: 40px;
    width: 100%;
    position: relative;
    z-index: 3;
    @include media-md{
        margin-top: 30px;
        padding: 0;
    }
}

.gold-border{
    background: $gradient-border;
    padding: 3px;
    border-radius: 4px;
}

.open-nft-price-box{
    padding: 20px 25px 20px 35px;
    border: 1px solid $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    margin-top: 40px;
    @include media-sm{
        flex-direction: column;
    }
    .btn{
        @include media-sm{
            margin-top: 10px;
        }
    }
}

.attributes{
    &-table{
        width: 100%;
        td{
            text-align: center;
            text-transform: uppercase;
            font-family: $secondary-font;            
            font-size: 16px;
            padding: 10px 0px;
        }
    }
    &-subtable{
        width: 100%;
        td{
            width: 216px;
        }
    }
}

.title-items-table{
    td {
        background: $black;    
        border-radius: 3px;
        font-weight: 700;
        color: $primary-color;
    }
}